
.Difference {
    font-family: monospace;
  }
  
.Difference > del {
    /* background-color: rgb(255, 224, 224); */
    text-decoration: none;
  }
  
.Difference > ins {
    background-color: rgb(201, 238, 211);
    text-decoration: none;
}

.gradient {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,0.27512254901960786) 100%);
}
