
.deleted {
  background-color: #ffe6e6; /* Highlight color for deleted lines */
}

.added {
  background-color: #e6ffe6; /* Highlight color for added lines */
}

.gradient {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,0.27512254901960786) 100%);
}